body {
    background-image: url("https://data.whicdn.com/images/65804634/original.jpg");
    text-align: left;
    color: black;
 }
 #questions {
     background-color: lightgreen;
 }
 
h1 {
    font-size: 100px;
    color: darkblue;
}

    

